{{<html}}
{{$main}}

<section class="hero primary">
    <div class="wrapper">
        <header>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
</svg>


            <p>Blog</p>
            <h1>Latest posts</h1>
            <p>Browse our latest posts</p>
        </header>
        {{#empty(site.context.posts)}}
        Empty.
        {{/empty(site.context.posts)}}
        {{^empty(site.context.posts)}}
        <div class="grid grid-221">
            {{#site.context.posts}}
            {{> blog.blocks.post}}
            {{/site.context.posts}}
        </div>
        {{/empty(site.context.posts)}}
        
        <div class="centered more-posts">
            <a class="button" href="/blog/posts/page/1">Browse all posts</a>
        </div>
    </div>
</section>

<section class="book">
  <div class="wrapper">
      <header>
          <h2>Swift on the server</h2>
          <p>We specialize on server-side Swift development. <br>We offer a comprehensive book on the Vapor framework.</p>
      </header>
      <div class="grid grid-211">
          <picture>
            <img alt="Practical Server Side Swift Cover" src="{{site.baseUrl}}images/defaults/PSSScover.png"/>
          </picture>
          
          <div class="info">
            <h3>Practical Server-Side Swift</h3>
            <p>Swift on the server is an amazing new opportunity to build fast, safe and scalable backend apps. Write your very first web-based application by using your favorite programming language. Learn how to build a modular blog engine using the latest version of the Vapor 4 framework. This book will help you to design and create modern APIs that'll allow you to share code between the server side and iOS. Start becoming a full-stack Swift developer.</p>
            <p><a href="#">Download sample</a></p>
            <p><a class="button" href="https://theswiftdev.gumroad.com/l/practical-server-side-swift" target="_blank">Available on Gumroad</a></p>
          </div>
      </div>
      
      
    
  </div>
</section>

{{/main}}
{{/html}}
