<div id="footer-container">
    <footer class="wrapper">
        <div class="grid grid-211">
            <div>
                <picture>
                    <source
                        srcset="{{site.baseUrl}}images/logos/logo~dark.png"
                        media="(prefers-color-scheme: dark)"
                        >
                    <img
                        src="{{site.baseUrl}}images/logos/logo.png"
                        alt="Logo of {{site.title}}"
                        title="{{site.title}}"
                        >
                </picture>
                <h2>Binary Birds</h2>
                <p>Swift application development and consulting.<br>Secure, efficient, scalable solutions.</p>
            </div>
            <div class="links">
                <div class="external">
                    <a href="https://toucansites.com" target="_blank">
                        <img
                        src="{{site.baseUrl}}images/footer/toucan-logo.png"
                        alt="Toucan Sites"
                        />
                    </a>
                    <a href="https://theswiftdev.com" target="_blank">
                        <img
                        src="{{site.baseUrl}}images/footer/theswiftdev-logo.png"
                        alt="The.Swift.Dev"
                        />
                    </a>
                    <a href="https://feathercms.com" target="_blank">
                        <img
                        src="{{site.baseUrl}}images/footer/feather-logo.png"
                        alt="Feather CMS"
                        />
                    </a>
                    <a href="https://swiftonserver.com" target="_blank">
                        <img
                        src="{{site.baseUrl}}images/footer/swiftonserver-logo.png"
                        alt="Swift on Server"
                        />
                    </a>
                </div>
                <div class="contact">
                    <h3>Contact</h3>
                    <p>
                    <a href="mailto:binarybirdsoffical@gmail.com">
                        info@binarybirds.com
                    </a>
                    </p>
                </div>
            </div>
        </div>
                
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/development">Development</a></li>
                <li><a href="/consulting">Consulting</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>

        <div id="copyright">Binary Birds © 2022-{{year}} &middot; All Rights Reserved</div>

    </footer>
</div>
