
#footer-container footer {
    padding: 60px 15px 30px;
    text-align: center;
}
#footer-container img {
    width: 64px;
}
#footer-container footer nav ul {
    margin: 0;
    padding: 0;
}
#footer-container footer nav li {
    display: inline-block;
    padding: 2px 0;
    margin: 0;
    margin-right: 30px;
}

#footer-container footer nav li:last-child {
    margin-right: 0;
}
#footer-container footer nav li a:hover {
    color: var(--link-color-hover);
}

#footer-container .contact {
    margin: 30px 0;
}
#footer-container #copyright {
    border-top: 1px solid var(--background-color-1);
    margin: 10px 0;
    padding: 10px 0;
}

@media screen and (min-width: 900px) {
    #footer-container footer {
        text-align: left;
    }
    #footer-container footer .links {
        text-align: right;
    }
}
