body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
}
img.small {
    width: 30px;
}
img.medium {
    width: 60px;
}
img.large {
    width: 120px;
}
img.rounded {
    border-radius: 50%;
}
hr {
    display: none;
}
hr {
    border: none;
    background: var(--link-color);
    width: 120px;
    height: 10px;
    border-radius: 5px;
    margin: 10px auto;
}
h1, h2, h3, h4, h5, h6, b {
    font-weight: 600;
}
main {
    background: var(--background-color-1);
}
a.button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: var(--link-color);
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
a.button:hover {
    background-color: var(--link-color-hover);
}
@media (prefers-color-scheme: dark) {
    a.button {
        color: #000;
    }
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}
.container {
  margin: 15px 0;
  padding: 15px;
}
main > section.primary {
    background: var(--background-color);
}
main > section header, .hero {
    text-align: center;
}
main > section .wrapper {
    padding: 60px 15px 60px 15px;
}
main > section header {
    margin-bottom: 60px;
}
main > section header {
    text-align: center;
    font-weight: 600;
}
main > section header h2 {
    display: inline-block;
/*    color: var(--link-color);*/
    font-size: 2rem;
    line-height: 3rem;
    border-bottom: 4px solid var(--link-color);
}
main > section h3 {
/*    color: var(--link-color);*/
    margin-top: 10px;
}
main > section header p {
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--text-color-2);
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    padding: 0px 0;
}
.hero img {
    width: 45px;
    height: 45px;
}
.hero p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 600;
    color: var(--text-color-2);
}
.card {
    position: relative;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--background-color-2);
}
.card.post h3 {
    margin-top: 0;
}
.card.post p {
    color: var(--text-color-2);
    margin-bottom: 15px;
}
.card .meta {
    color: var(--text-color-2);
}
.featured {
    position: absolute;
    top: 18px;
    right: -10px;
    display: inline-block;
    background: var(--link-color);
    color: #fff;
    padding: 0px 15px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.card .author-list {
    margin-bottom: 10px;
}
.tag-list a {
    display: inline-block;
    background: var(--background-color-2);
    color: var(--text-color-2);
    border: 1px solid var(--background-color-3);
    padding: 0px 15px;
    border-radius: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-right: 5px;
}
.tag-list a:hover {
    background: var(--link-color);
    color: #fff;
}
.card .links {
    margin-bottom: 15px;
}
.card .links svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    color: var(--text-color-3);
}
.card .links svg:hover {
    color: var(--link-color-hover);
}
aside .author-list {
    text-align: left;
}
aside .author-list h3 {
    margin-top: 10px;
}
aside .tag-list {
    margin: 15px 0;
}
section .card {
    background: var(--background-color);
}
section.primary .card {
    background: var(--background-color-1);
}

header svg, .card svg {
    width: 45px;
    height: 45px;
    color: var(--link-color);
}

.testimonial {
    padding: 2rem 4rem;
}

.testimonial h3 {
    margin-bottom: 0;
    margin-top: 15px;
}
.testimonial p {
    margin-top: 0;
    margin-bottom: 30px;
}

blockquote {
    display: block;
    position: relative;
    
}
blockquote:before,
blockquote:after {
	position: absolute;
    color: var(--text-color-3);
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -4rem;
	top: 2rem;
}

blockquote:after {
	content: '”';
	right: -4rem;
	bottom: -5rem;
}

cite {
	line-height: 3;
	text-align: left;
}

svg.illustration {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 128px;
    height: 128px;
    color: var(--link-color);
}
.devicon {
    display: block;
    text-align: center; 
    font-size: 128px; 
    color: var(--link-color); 
}
p.primary {
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 2rem;
}
.competences > h3 {
    margin: 30px auto;
    text-align: center;
}

.competences .card p {
    margin-bottom: 0;
}

.book picture {
    padding: 0 30px;
}
.book .grid > picture {
    text-align: center;
}
.book .grid > .info {
    padding: 30px 60px 0 0;
}

.team img {
    margin-top: 30px;
}
.team .member {
    text-align: center;
}
.team .member p {
    margin-top: 0;
}
.contact-us {
    text-align: center;
}

.centered {
    text-align: center;
}
.more-posts {
    margin-top: 30px;
}

.pagination {
    margin-top: 60px;
    text-align: center;
}
.pagination a {
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 5px;
    background: var(--background-color-1);
    border: 1px solid var(--background-color-2);
    font-weight: 600;
    color: var(--text-color-3);
}
.pagination a.current-page {
    color: var(--text-color);
    background: var(--background-color-2);
    border: 1px solid var(--background-color-3);
}
.pagination a:hover {
    color: var(--link-color-hover);
}






.article-with-toc {
    position: relative;
    display: block;
}
.article-with-toc > div {
    position: relative;
}
.article-with-toc article {
    max-width: 600px;
/*    margin: 0 auto;*/
    padding: 30px 0;
}
.article-with-toc aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.article-with-toc aside ul ul {
    margin-left: 10px;
    margin-bottom: 10px;
}
.article-with-toc aside ul, .article-with-toc aside ul li {
    margin-bottom: 0px;
}
.article-with-toc > div > aside {
    font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
    .testimonial-image {
        padding: 2rem 0;
    }
}
@media screen and (min-width: 900px) {

    .testimonial-image {
        padding: 0 4rem;
    }
    
    .article-with-toc {
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: 1fr minmax(auto, 300px);
    }

    .article-with-toc > div > aside {
        position: -webkit-sticky;
        position: sticky;
        margin: 15px 0;
        top: 15px;
        border-radius: 10px;
        background: var(--background-color);
        padding: 15px 30px;
        font-weight: bold;
        line-height: 1.5rem;
    }
    .article-with-toc > div > aside h4 {
        margin-top: 0px;
        display: none;
    }
    .article-with-toc > div > aside li a {
        color: var(--text-color-2);
    }
    .article-with-toc > div > aside li a:hover {
        color: var(--text-color-1);
    }
}

