<div class="card">
<a href="{{permalink}}">
    <center>
    {{#image}}<img class="medium" src="{{image}}" alt="{{title}}">{{/image}}
    <br><br>
    <h4>{{title}}</h4>
    <p>{{count(posts)}} posts</p>
    </center>
</a>
</div>
