<div>
    <div>
        {{#image}}<img src="{{.}}" alt="{{name}}" class="large rounded">{{/image}}
    </div>
    <div class="testimonial">
        <blockquote>{{text}}</blockquote>
        <h3>{{name}}</h3>
        <p>{{role}} @ <a href="{{company-url}}" target="_blank">{{company}}</a></p>
    </div>
</div>